<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/common :: head('회원목록관리')"></head>
<link th:href="@{/css/adminBoardChart.css}" rel="stylesheet">

<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css"/>
<link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css"/>
<script src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>


<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" th:replace="fragments/common :: menu('home')"></nav>
<div th:include="fragments/adminsidebar"> </div>

<div class="container main-wrapper">
    <h1 class="container mt-5">게시글 동향</h1>

    <div class="btn-group">
        <select class="form-control" id="year" name="year"></select>
    </div>

    <div class="btn-group">
        <select class="form-control" id="month" name="month">
            <th:block th:each="month: ${#numbers.listFormatInteger(#numbers.sequence(1,12),2)}">
                <option class="dropdown-item" id="monthOption" th:value="${month}" th:text="${month}+월"></option>
            </th:block>
        </select>
    </div>

    <main class="container">
        <div class="container">
            <canvas id="myChart"></canvas>
        </div>
    </main>
</div>
<footer th:replace="fragments/common :: footer"></footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/adminBoardChart.js}"></script>
<script type="text/javascript" th:src="@{/js/nav_top.js}"></script>
</body>
</html>