<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/common :: head('회원정보관리')"></head>
<link th:href="@{/css/signin.css}" rel="stylesheet">
<link th:href="@{/css/birth.css}" rel="stylesheet">
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" th:replace="fragments/common :: menu('home')"></nav>

<style type="text/css">
    body {
        padding-top: 0px;
        display: block;
    }
</style>

<body class="text-center">
<!--        th:action="@{/admin/memberform}"-->
<form class="form-signin" method="post" th:object="${member}" th:action="@{/admin/memberform}">

    <a th:href="@{/}"><img class="mb-4" th:src="@{/image/log_icon.png}" alt="로고" width="72" height="57"></a>
    <h1 class="h3 mb-3 fw-normal">Member Page for Admin</h1>
    <hr>

    <input type="hidden" class="form-control" th:field="*{id}" th:readonly="readonly">

    <div class="form-floating mb-3">
        <label th:for="username">이메일</label>
        <input type="email" class="form-control" th:field="*{username}" oninput="usernameModify()">
        <span class="username_ok">사용 가능한 아이디입니다.</span>
        <span class="username_already">누군가 이 아이디를 사용하고 있어요.</span>
    </div>

    <div class="mb-3">
        <label th:for="nickname">닉네임</label>
        <input type="text" class="form-control" th:field="*{nickname}" oninput="nicknameModify()">
        <span class="nickname_ok">사용 가능한 이름입니다.</span>
        <span class="nickname_already">누군가 이 이름을 사용하고 있어요.</span>
    </div>

    <label class="mb-3 form-label" for="birth">생년월일</label>
    <div class="mb-3" id="birth" onchange="checkAge()">
        <div class="birth dropdown">
            <select class="form-control" id="year" name="year">
                <option th:value="*{year}" th:text="*{year}" selected></option>
                <option value="">년(YY)</option>
                <th:block th:each="a: ${#numbers.sequence(2001,1900)}">
                    <option th:value="${a}" th:text="${a}"></option>
                </th:block>
            </select>
        </div>

        <div class="birth mx-1 dropdown">
            <select class="form-control" id="month" name="month">
                <option th:value="*{month}" th:text="*{month}" selected></option>
                <option value="">월(mm)</option>
                <th:block th:each="month: ${#numbers.listFormatInteger(#numbers.sequence(1,12),2)}">
                    <option class="dropdown-item" th:value="${month}" th:text="${month}"></option>
                </th:block>
            </select>
        </div>

        <div class="birth dropdown">
            <select class="form-control" id="day" name="day">
                <option th:value="*{day}" th:text="*{day}" selected></option>
                <option value="">일(dd)</option>
                <th:block th:each="day: ${#numbers.listFormatInteger(#numbers.sequence(1,31),2)}">
                    <option class="dropdown-item" th:value="${day}" th:text="${day}"></option>
                </th:block>
            </select>
        </div>
        <span id="birth_check_msg"></span>
    </div>

    <div class="mb-3">
        <label for="age">나이</label>
        <input type="text" class="form-control" id="age" th:readonly="readonly">
    </div>

    <div class="mb-3">
        <label class="form-label" for="gen">성별</label>
        <div class="dropdown" id="gen">
            <select onkeyup="blankModify()" class="form-control" id="gender" name="gender">
                <option value="">성별</option>
                <option th:each="genderValue : ${T(com.example.CUSHProject.enums.Gender).values()}"
                        th:value="${genderValue.value}"
                        th:text="${genderValue.title}"
                        th:selected="${genderValue.title} == *{gender.title}">
                </option>
            </select>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="roleDiv">권한</label>
        <div class="dropdown" id="roleDiv">
            <select onkeyup="blankModify()" class="form-control" id="role" name="role">
                <option value="">권한</option>
                <option th:each="roleValue : ${T(com.example.CUSHProject.enums.Role).values()}"
                        th:value="${roleValue.value}"
                        th:text="${roleValue.title}"
                        th:selected="${roleValue.title} == *{role.title}">
                </option>
            </select>
        </div>
    </div>

    <div class="form-floating mb-3">
<!--        <button class="w-100 btn btn-lg btn-primary" type="submit" formaction="/admin/memberform">수정</button>-->
        <button class="w-100 btn btn-lg btn-primary" type="submit" onclick="return modifyCheckAll()">수정</button>
<!--        <button class="w-100 btn btn-lg btn-primary" type="submit">수정</button>-->
    </div>

    <div class="form-floating mb-3">

<!--        <button class="w-100 btn btn-lg btn-primary" type="submit" onclick="return modifyCheckAll()">수정</button>-->
<!--        <button class="w-100 btn btn-lg btn-primary" type="submit" formaction="/admin/withdrawal">탈퇴</button>-->
        <a type="button" class="w-100 btn btn-lg btn-danger" th:href="@{/admin/withdrawal}">회원탈퇴</a>
    </div>

    <div class="form-floating mb-3">
        <a type="button" style="color:white" class="w-100 btn btn-lg btn-secondary" onclick="window.history.back();">취소</a>
    </div>

</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/calAge.js}"></script>
<script type="text/javascript" th:src="@{/js/modify.js}"></script>
</body>
</html>