<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('게시판')"></head>
<link th:href="@{/css/boardContent.css}" rel="stylesheet">

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" th:replace="fragments/common :: menu('board')"></nav>
<th:block th:include="fragments/sidecategory"></th:block>

<div class="container main-wrapper">
    <h2 class="mb-3" th:text="${boardForm.title}"> </h2>

    <div class="contentTop mb-5 mx-5">
        <b>작성자</b>
        <span class="mx-2" th:text="${boardForm.writer}"></span>
        <b>조회수</b>
        <span class="mx-2" th:text="${boardForm.hit}"></span>
        <b>작성일</b>
        <span class="mx-2" th:text="${#temporals.format(boardForm.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
        <b>수정일</b>
        <span class="mx-2" th:text="${#temporals.format(boardForm.updatedDate, 'yyyy-MM-dd HH:mm')}"></span>
    </div>
    <hr class="mb-2">
    <b>종류</b>
    <span class="mx-2" th:text="${categoryName}"></span>
    <b>평점</b>
    <span th:text="${boardForm.rating.title}"></span>
    <div class="mx-10" id="contentMain" th:utext="${boardForm.content}"></div>

    <hr>

    <div class="text-end">
        <a type="button" class="btn btn-secondary" th:href="@{/board/list}">목록</a>
        <a class="btn btn-primary" id="modify" th:if="${boardForm.writer.equals(session.memberNickname)}" th:href="@{/board/modify(id=${boardForm.id})}">수정</a>
    </div>
</div>
<script src="https://cdn.ckeditor.com/ckeditor5/29.2.0/classic/ckeditor.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/boardcontent.js}"></script>
</body>
</html>