<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/common :: head('게시판')"></head>

<link th:href="@{/css/summernote/summernote-lite.css}" rel="stylesheet">
<link th:href="@{/css/boardForm.css}" rel="stylesheet">

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" th:replace="fragments/common :: menu('board')"></nav>

<div class="container mt-5">
    <h1>장터 게시판</h1>
    <form name="board_form" method="post">

        <input type="hidden" th:field="${boardForm.id}"/>

        <div class="mb-3" id="divWriter">
            <label class="form-label" for="writer">작성자</label>
            <input class="form-control-plaintext" id="writer" name="writer" th:value="${session.memberNickname}" readonly>
        </div>
        <hr>

        <div class="mb-1" id="options">
            <div class="dropdown" id="divCategory">
                <label class="form-label" for="categoryName">종류</label>
                <select class="form-control" id="categoryName" name="categoryName">
                    <option th:each="category : ${categoryList}"
                            th:value="${category.name}"
                            th:text="${category.name}"
                            th:selected="${category.id}==${#request.getParameter('category')}">
                    </option>
                </select>
            </div>
            <div class="dropdown" id="divRating">
                <label class="form-label" for="rating">상태</label>
                <select class="form-control" id="rating" name="rating">
                    <option th:each="ratingValue : ${T(com.example.CUSHProjectFront.enums.Rating).values()}"
                            th:value="${ratingValue.value}"
                            th:text="${ratingValue.title}">
                    </option>
                </select>
            </div>

            <div class="mb-3" id="divPrice">
                <label class="form-label" for="price">판매금액</label>
                <div class="dFlex">
                <input type="text" class="form-control" id="price" name="price" placeholder="가격을 입력해 주세요.">
                <span id="priceUnit">원</span>
                </div>
            </div>

            <div class="mapDiv">
                <button id="mapButton" type="button" class="btn btn-success">거래 장소 정하기</button>
                <input type="hidden" id="myLat" name="myLat" readonly>
                <input type="hidden" id="myLng" name="myLng" readonly>
            </div>
        </div>

        <div class="mb-3" id="divTitle">
            <label class="form-label" for="title"></label>
            <input type="text" class="form-control" id="title" name="title" placeholder="제목을 작성해 주세요.">
        </div>

        <div class="mb-3" id="divContent">
            <label class="form-label" for="content"></label>
            <textarea class="form-control" id="content" name="content" placeholder="내용을 작성해 주세요."></textarea>
        </div>

        <div class="text-end">
            <a type="button" class="btn btn-secondary" th:href="@{/board/list}">취소</a>
            <button id="submitBtn" type="button" class="btn btn-primary">제출</button>
        </div>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script type="text/javascript" th:src="@{/js/summernote/summernote-lite.js}" defer></script>
<script type="text/javascript" th:src="@{/js/boardForm.js}"></script>
<script type="text/javascript" th:src="@{/js/nav_top.js}"></script>

</body>
</html>