<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/common :: head('게시판')"></head>

<link th:href="@{/css/summernote/summernote-lite.css}" rel="stylesheet">
<link th:href="@{/css/boardModify.css}" rel="stylesheet">

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" th:replace="fragments/common :: menu('board')"></nav>

<div class="container mt-5">
    <h1>게시글 수정</h1>
    <form th:action="@{/board/modify(id=${#request.getParameter('id')})}" method="post">
        <input type="hidden" th:field="${boardForm.id}"/>

        <div class="mb-3 inline-container">
            <b class="form-label" for="writer">작성자</b>
            <input class="form-control-plaintext" id="writer" name="writer" th:value="${boardForm.writer}" readonly>
        </div>
        <div class="inline-container">
            <b for="createdDate">작성 날짜</b>
            <input id="createdDate" name="createdDate" th:value="${boardForm.createdDate}" readonly>
            <b class="form-label" for="updatedDate">마지막 수정 날짜</b>
            <input id="updatedDate" name="updatedDate" th:value="${boardForm.updatedDate}" readonly>

            <b for="hit">조회수</b>
            <input id="hit" name="hit" th:value="${boardForm.hit}" readonly>

            <label class="form-label" for="status"><b>판매상태</b></label>
            <select class="form-control" id="status" name="status">
                <option th:each="status : ${T(com.example.CUSHProject.enums.Status).values()}"
                        th:if="${status.value} == 'old'" hidden
                        th:value="${status.value}"
                        th:text="${status.title}"
                        th:selected="${status.value} == ${boardForm.status.value}">
                </option>
            </select>
        </div>
        <hr>

        <div class="mb-1" id="dropDown">
            <div class="dropdown" id="divCategory">
                <label class="form-label" for="categoryName">종류</label>
                <select class="form-control" id="categoryName" name="categoryName">
                    <option th:each="category : ${categoryList}"
                            th:value="${category.name}"
                            th:text="${category.name}"
                            th:selected="${category.name} == ${boardForm.categoryName}">
                    </option>
                </select>
            </div>

            <div class="dropdown" id="divRating">
                <label class="form-label" for="rating">상태</label>
                <select class="form-control" id="rating" name="rating">
                    <option th:each="ratingValue : ${T(com.example.CUSHProject.enums.Rating).values()}"
                            th:value="${ratingValue.value}"
                            th:text="${ratingValue.title}"
                            th:selected="${ratingValue.title} == ${boardForm.rating.title}">
                    </option>
                </select>
            </div>

            <div class="mb-3" id="divPrice">
                <label class="form-label" for="price">판매금액</label>
                <div class="dFlex">
                    <input type="text" class="form-control" id="price" name="price" th:value="${boardForm.price}" placeholder="가격을 입력해 주세요.">
                    <span id="priceUnit">원</span>
                </div>
            </div>

            <div class="mapDiv">
                <button id="mapButton" type="button" class="btn btn-success">거래 장소 정하기</button>
                <input type="hidden" th:value="${boardForm.myLat}" id="myLat" name="myLat" readonly>
                <input type="hidden" th:value="${boardForm.myLng}" id="myLng" name="myLng" readonly>
            </div>
        </div>

        <div class="mb-3" id="divTitle">
            <label class="form-label" for="title"></label>
            <input type="text" class="form-control" id="title" name="title" th:value="${boardForm.title}" placeholder="제목을 작성해 주세요.">
        </div>

        <div class="mb-3" id="divContent">
            <label class="form-label" for="content"></label>
            <textarea class="form-control" id="content" name="content" th:text="${boardForm.content}" placeholder="내용을 작성해 주세요."></textarea>
        </div>

        <div class="text-end">
            <a type="button" class="btn btn-secondary" th:href="@{/board/list}">목록</a>
            <button type="button" class="btn btn-danger" id="boardDelete">삭제</button>
            <button id="modifyBtn" type="submit" class="btn btn-primary">수정</button>
        </div>
    </form>
</div>
<script type="text/javascript" th:src="@{/js/summernote/summernote-ko-KR.js}"></script>
<script type="text/javascript" th:src="@{/js/summernote/summernote-lite.js}" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/boardModify.js}"></script>
<script type="text/javascript" th:src="@{/js/nav_top.js}"></script>

</body>
</html>