<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('게시판')"></head>
<link th:href="@{/css/boardContent.css}" rel="stylesheet">
<link th:href="@{/css/comment.css}" rel="stylesheet">
<link th:href="@{/css/sideCategory.css}" rel="stylesheet">
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">


<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" th:replace="fragments/common :: menu('board')"></nav>
<th:block th:include="fragments/sidecategory :: sidecategory(${categoryList})"></th:block>
<div class="container main-wrapper">

    <input type="hidden" id="sessionNickname" th:value="${session.memberNickname}">
    <input type="hidden" id="sessionRole" th:value="${session.memberRole}">
    <input type="hidden" id="myLat" th:value="${boardForm.myLat}">
    <input type="hidden" id="myLng" th:value="${boardForm.myLng}">
    <div class="contentTitle">
        <h3 class="mb-3" id="boardStatus" th:text="'[' + ${boardForm.status.title} + ']'"></h3>
        <h2 class="mb-3" th:text="'&nbsp'+ ${boardForm.title}"></h2>
    </div>

    <div class="contentTop mb-5 mx-5">
        <b>작성자</b>
        <span class="mx-2" th:text="${boardForm.writer}"></span>
        <b>조회수</b>
        <span class="mx-2" th:text="${boardForm.hit}"></span>
        <b>작성일</b>
        <span class="mx-2" th:text="${boardForm.createdDate}"></span>
        <b>수정일</b>
        <span class="mx-2" th:text="${boardForm.updatedDate}"></span>
    </div>
    <hr class="mb-2">

    <div class="mainContentWrapper">
        <!--slick slider-->
        <div class="contentImgWrapper">
            <div class="mx-10 mt-2 contentImg">
                <!--<img src="/images/location_btn.png">
                <img src="/images/kakao_login_medium_wide.png">
                <img src="/images/marker_tip.png">-->
            </div>

            <div class="arrow">
                <span class="xi-angle-left arrow_prev"></span>
                <span class="xi-angle-right arrow_next"></span>
            </div>
        </div>

        <div class="mt-3 contentOptions">
            <h2 id="contentPrice" th:text="${boardForm.price}"></h2>
            <hr class="mb-2">
            <b>종류</b>
            <h6 class="mx-2" th:text="${boardForm.categoryName}"></h6>
            <b>상태</b>
            <h6 th:text="${boardForm.rating.title}"></h6>
            <button class="btn btn-success" id="showLocation">거래장소</button>
        </div>
    </div>
    <hr>
    <div class="mx-10 mt-2" id="contentMain" th:utext="${boardForm.content}"></div>

    <hr>
    <div class="text-end mb-3">
        <a style="color: white" type="button" class="btn btn-secondary btn-sm" th:href="@{/board/list(category=${boardForm.categoryId})}">게시글 목록</a>
        <a class="btn btn-primary btn-sm" id="modify" th:if="${boardForm.writer.equals(session.memberNickname)}" th:href="@{/board/modify(id=${boardForm.id})}">수정</a>
        <button class="btn btn-success btn-sm" id="soldOutBtn" th:if="${boardForm.writer.equals(session.memberNickname) && #strings.equals(boardForm.status.value,'sell')}">판매완료</button>
    </div>

    <form class="mb-3" id="commentForm" name="commentForm" method="post">
        <input type="hidden" id="bid" name="bid" th:value="${boardForm.id}"/>
        <div id="comment-count">
            <span><strong>댓글</strong></span> <span id="count">0</span>
        </div>
        <input id="comment" name="comment" placeholder="댓글을 입력해 주세요.">
        <button class="btn btn-primary" id="submit" onclick="commentPost()">등록</button>
    </form>

    <div class="container">
        <form id="commentListForm" name="commentListForm" method="post">
            <div id="commentList"></div>
            <div id="commentModify"></div>
        </form>
    </div>

    <div class="modal fade" id="modifyModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">댓글 수정창</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="comment_id" name="comment_id">
                    <div class="form-group">
                        <label for="comment_text">댓글 내용</label>
                        <input class="form-control" id="comment_text" name="comment_text" placeholder="댓글 내용을 입력해주세요">
                    </div>
                    <div class="form-group">
                        <label for="comment_writer">댓글 작성자</label>
                        <input class="form-control" id="comment_writer" name="comment_writer" readonly>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-success modalModBtn">수정</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" th:src="@{/js/boardcontent.js}"></script>
<script type="text/javascript" th:src="@{/js/comment.js}"></script>
<script th:src="@{/js/emoji/jquery.emojiFace.js}"></script>
<script type="text/javascript" th:src="@{/js/nav_top.js}"></script>
</body>
</html>