<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('게시판')"></head>
<link th:href="@{/css/boardContent.css}" rel="stylesheet">
<link th:href="@{/css/comment.css}" rel="stylesheet">

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" th:replace="fragments/common :: menu('board')"></nav>
<th:block th:include="fragments/sidecategory"></th:block>

<input type="hidden" id="sessionNickname" th:value="${session.memberNickname}">
<div class="container main-wrapper">
    <h2 class="mb-3" th:text="${boardForm.title}"></h2>

    <div class="contentTop mb-5 mx-5">
        <b>작성자</b>
        <span class="mx-2" th:text="${boardForm.writer}"></span>
        <b>조회수</b>
        <span class="mx-2" th:text="${boardForm.hit}"></span>
        <b>작성일</b>
        <span class="mx-2" th:text="${#temporals.format(boardForm.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
        <b>수정일</b>
        <span class="mx-2" th:text="${#temporals.format(boardForm.updatedDate, 'yyyy-MM-dd HH:mm')}"></span>
    </div>
    <hr class="mb-2">
    <b>종류</b>
    <span class="mx-2" th:text="${categoryName}"></span>
    <b>상태</b>
    <span th:text="${boardForm.rating.title}"></span>
    <div class="mx-10" id="contentMain" th:utext="${boardForm.content}"></div>

    <hr>

    <div class="text-end mb-3">
        <a type="button" class="btn btn-secondary" th:href="@{/board/list}">게시글 목록</a>
        <a class="btn btn-primary" id="modify" th:if="${boardForm.writer.equals(session.memberNickname)}" th:href="@{/board/modify(id=${boardForm.id})}">수정</a>
    </div>

    <form class="mb-3" id="commentForm" name="commentForm" method="post">
        <input type="hidden" id="bid" name="bid" th:value="${boardForm.id}"/>
        <div id="comment-count">
            <span><strong>댓글</strong></span> <span id="count">0</span>
        </div>
        <input id="comment" name="comment" placeholder="댓글을 입력해 주세요.">
        <button class="btn btn-primary" id="submit" onclick="commentPost()">등록</button>
    </form>

    <div class="container">
        <form id="commentListForm" name="commentListForm" method="post">
            <div id="commentList">
            </div>
            <div id="commentModify"></div>
        </form>
    </div>

    <div class="modal fade" id="modifyModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">댓글 수정창</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="comment_id" name="comment_id">
                    <div class="form-group">
                        <label for="comment_text">댓글 내용</label>
                        <input class="form-control" id="comment_text" name="comment_text" placeholder="댓글 내용을 입력해주세요">
                    </div>
                    <div class="form-group">
                        <label for="comment_writer">댓글 작성자</label>
                        <input class="form-control" id="comment_writer" name="comment_writer" readonly>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-success modalModBtn">수정</button>
                </div>
            </div>
        </div>
    </div>

    </div>
    <script src="https://cdn.ckeditor.com/ckeditor5/29.2.0/classic/ckeditor.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/boardcontent.js}"></script>
    <script type="text/javascript" th:src="@{/js/comment.js}"></script>
</body>
</html>