<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/map.css}"  rel="stylesheet">
</head>
<body>
<div id="searchDiv">
    <input style="width: 500px" id="address" placeholder="주소(시,구,도)를 입력해주세요 ex)도로명 주소">
    <button class="btn btn-primary" id="searchBtn" type="button">검색</button>
    <button type="button" class="btn btn-success" id="location">현재위치</button><br>
    <span id="info">거래하실 장소의 마커를 클릭해주세요</span>

</div>
<div id="map" style="width: 880px; height: 465px"></div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3a72a25e27dd56bb04296d0d8e1e7ace&libraries=services,clusterer,drawing"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3a72a25e27dd56bb04296d0d8e1e7ace"></script>
<script type="text/javascript" th:src="@{/js/map.js}"></script>
</html>