<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/common :: head('게시판')"></head>

<link th:href="@{/css/summernote/summernote-lite.css}" rel="stylesheet">
<link th:href="@{/css/boardForm.css}" rel="stylesheet">

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" th:replace="fragments/common :: menu('board')"></nav>

<div class="container">
    <h1>공지사항</h1>
    <form th:action="@{/notice/write}" method="post" onsubmit="return nullCheck()">
        <input type="hidden" th:field="${boardForm.id}"/>

        <div class="mb-3" id="divWriter">
            <label class="form-label" for="writer">작성자</label>
            <input class="form-control-plaintext" id="writer" name="writer" th:value="${session.memberNickname}" readonly>
        </div>
        <hr>



        <div class="mb-3" id="divTitle">
            <label class="form-label" for="title"></label>
            <input type="text" class="form-control" id="title" name="title" placeholder="제목을 작성해 주세요.">
        </div>

        <div class="mb-3" id="divContent">
            <label class="form-label" for="content"></label>
            <textarea class="form-control" id="content" name="content" placeholder="내용을 작성해 주세요."></textarea>
        </div>

        <div class="text-end">
            <a type="button" class="btn btn-secondary" th:href="@{/notice/list}">취소</a>
            <button type="submit" class="btn btn-primary">제출</button>
        </div>
    </form>
</div>
<script type="text/javascript" th:src="@{/js/summernote/summernote-ko-KR.js}"></script>
<script type="text/javascript" th:src="@{/js/summernote/summernote-lite.js}" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
<script type="text/javascript" th:src="@{/js/boardForm.js}"></script>
</body>
</html>