<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/sideCategory.css}" rel="stylesheet">

</head>
<body>
<div>
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a>관리자 메뉴</a>
            </li>
            <li>
                <a th:href="@{/admin}">회원 리스트</a>
            </li>
            <li>
                <a th:href="@{/admin/boardChart}">게시글 정보</a>
            </li>
        </ul>
    </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>