<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head(title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/navbar-top.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <title th:text="${title}">게시판</title>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark" th:fragment="menu(menu)">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">CUSH</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item" th:classappend="${menu} == 'home'">
                    <a class="nav-link " th:href="@{/}">홈 </a>
                </li>
                <li class="nav-item" th:classappend="${menu} == 'board'">
                    <a class="nav-link " th:href="@{/board/list?category=1}">장터게시판</a>
                </li>
                <li class="nav-item" th:classappend="${menu} == 'map'">
                    <a class="nav-link " th:href="@{/map}">지도 </a>
                </li>
                <li class="nav-item" th:classappend="${menu} == 'notice'">
                    <a class="nav-link " th:href="@{/notice/list}">공지사항 </a>
                </li>
            </ul>
        </div>

        <a class="btn btn-outline-warning btn-sm mx-2" th:href="@{/account/login}" sec:authorize="!isAuthenticated()">로그인</a>

        <a class="btn btn-outline-warning btn-sm mx-1" th:href="@{/account/register}" sec:authorize="!isAuthenticated()">회원가입</a>

        <form class="form-inline my-2 my-lg-0" th:action="@{/account/logout}" method="get" sec:authorize="isAuthenticated()">
            <!--                <span class="text-white mx-2" sec:authentication="name">사용자</span>-->
            <span class="text-white mx-2" th:text="${session.memberNickname} + '님 환영합니다'">사용자</span>
            <!--                <span class="text-white mx-2" sec:authentication="principal.authorities">권한</span>-->
            <span class="text-white mx-2" th:text="${session.memberRole.title}">권한</span>

            <a class="btn btn-outline-warning mx-2 btn-sm" th:href="@{/account/mypage}" sec:authorize="hasRole('ROLE_MEMBER')">내 정보</a>

            <a class="btn btn-outline-warning mx-2 btn-sm" th:href="@{/admin}" sec:authorize="hasRole('ROLE_ADMIN')">관리</a>

            <button class="btn btn-outline-warning my-2 my-sm-0 btn-sm" type="submit">로그아웃</button>
        </form>
    </div>
</nav>

<div th:fragment="footer">
    <footer class="border-top" id="footer">

            <div class="footer_text mt-3">
                <span class="text-muted">&copy; 2021 Company, Inc</span><br>
                <span class="text-muted">서울특별시 영등포구 은행로 4,8층</span><br>
                <span class="text-muted">웹개발 3팀 조민수</span><br>
                <span class="text-muted">ms.jo@konai.com</span>
            </div>
            <div id="footer_icon">
                <div>
                    <a class="text-muted" href="https://konawiki.konai.com/spaces/viewspace.action?key=~ms.jo"><img src="/images/homepage_icon.png" width="30px"></a>
                </div>

                <div class="ml-2">
                    <a class="text-muted" href="https://github.com/minsu9605?tab=repositories"><img src="/images/github_icon.png"></a>
                </div>

            </div>

    </footer>
</div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>