<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/sideCategory.css}" rel="stylesheet">
</head>
<body>
<div th:fragment="sidecategory(categoryList)">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a>게시판</a>
            </li>
            <li th:each="category : ${categoryList}">
                <a th:text="${category.name}" th:href="@{'/board/list?category='+${category.getId}}"></a>
            </li>
        </ul>
    </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>