.inline-container{
    display: inline;
}
#dropDown{
    display: flex;
}

#divCategory{
    margin-right: 3%;
}
#createdDate, #updatedDate, #hit, #status{
    background-color: transparent;
    border: 0px;
    width: auto;
}
#updatedDate{
    margin-right: 20px;
}
#hit{
    width: 100px;
}
.mapDiv{
    margin-top: 2.9%;
    margin-left: 3%;
}
#status{
    display: inline-block;
}
#divPrice{
    margin-left: 3%;
}
.dFlex{
    display: flex;
}
#priceUnit{
    margin-top: 10px;
    margin-left: 3px;
    font-size: 17px;
}
#price{
    text-align: right;
    width: 181px;
}