.contentTop{
    display: inline;
    background-color: whitesmoke;
}

.main-wrapper{
    margin-top: 5%;
    margin-left: 20%;

}

.contentTitle{
    display: flex;
}
#contentMain{
    /*height: 150px;*/
}
#soldOutBtn{
    float:right;
    margin-right: 35px;
}
