body{
    min-height: 70rem !important;
}
.contentTop{
    display: inline;
    background-color: whitesmoke;
}

.main-wrapper{
    margin-top: 5%;
    margin-left: 20%;
}
.contentTitle{
    display: flex;
}
.contentImg{
    margin-left: 30px;
    overflow: hidden;
    width: 500px;
}
.contentOptions{
    width: 40%;
    margin-left: 130px;
}
#soldOutBtn{
    float:right;
    margin-right: 35px;
}
.mainContentWrapper{
    display: flex;
}
img{
    max-width: 500px;
    width: 100%;
}
.arrow{
    width: 690px;
    position: absolute;
    top: 370px;
}
.arrow_prev{
    font-size: 20px;
    cursor: pointer;
}

.arrow_next{
    float: right;
    margin-right: 133px;
    font-size: 20px;
    cursor: pointer;
}
.slick-list{
    border-radius: 2%;
}
