.flexParent{
    display: flex;
}
.inline-flex{
    display: inline-flex;
    margin-top: 1.5%;
    margin-left: 1%;
}

#listRating{
    margin-left:auto;
}

#listHit{
    margin-left:auto;
}
#th-title{
    width: 40%;
}
#td-title{
    text-align: left;
}
#list{
    cursor: pointer;
}
.container{
    max-width: 66%;
}