.inline-container{
    display: inline;
}
#dropDown{
    display: flex;
}

#divHairType{
    margin-right: 3%;
}
.ck-content {
    height: 300px;
}
#createdDate, #updatedDate, #hit{
    background-color: transparent;
    border: 0px;
}