#options{
    display: flex;
}

#divCategory{
    margin-right: 3%;
}

.mapDiv{
    margin-top: 2.8%;
    margin-left: 3%;
}

#divPrice{
    margin-left: 3%;
}
.dFlex{
    display: flex;
}
#priceUnit{
    margin-top: 10px;
    margin-left: 3px;
    font-size: 17px;
}
#price{
    text-align: right;
    width: 181px;
}



