#form-commentInfo {
    width: 100%;
}

#comment-count {
    margin-bottom: 10px;
}

#comment {
    width: 94%;
    height: 2.7em;
}

#voteUp, #voteDown {
    width: 3.5em;
    height: 1.9em;
    background-color: aqua;
}

#comments {
    margin-top: 10px;
}
