#footer {
    display: flex;
    position:absolute;
    bottom:0;
    width:100%;
    height:0;
}
.footer_text{
    margin-left: 30%;
    text-align: left;
}
#footer_icon{
    display: flex;
    margin-left: 20%;
    margin-top: 3%;
}