/*
.searchDiv{
    padding: 10px;
    margin-left: 5px;
}
*/

#info{
    color: blue;
    font-weight: bold;
}

.map_wrap {
    position:relative;
    width:100%;
    height:350px;
}
.title {
    font-weight:bold;
    display:block;
}
.topDiv {
    position:absolute;
    left:10px;
    top:10px;
    border-radius: 2px;
    z-index:1;
    padding:5px;
}

.searchBox{
    height: 40px;
    width : 400px;
    border: 1px solid #FFFFFF;
    background: #FFFFFF;
}

#centerAddr {
    display:block;
    margin-top:2px;
    font-weight: normal;
}

.marker_tips{
    width: 30px;
    background: transparent;
    display: inline-block;
    cursor:pointer;
    border: 0;
}
.tooltip-content {
    display: none;
    position: absolute;
    max-width: 200px;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.8em;
    color: white;
    background: #577be7;
}
.marker_tips:hover .tooltip-content {
    display: block;
}
.tooltip-marker {
    width: 18%;
    display: block;
    margin-left: 0;
}