
.flexParent{
    display: flex;
}
.inline-flex{
    display: inline-flex;
    margin-top: 1.5%;
    margin-left: 1%;
}

#listRating{
    margin-left:auto;
}

#listHit{
    margin-left:auto;
}
#th-title{
    width: 40%;
}
#td-title{
    text-align: left;
}
td[data-column-name=title]{
    cursor: pointer;
}
.container{
    max-width: 85%;
}

#page-wrapper {
    padding-left: 233px;
}
 .main-wrapper{
     margin-top: 5%;
     margin-left: 12%;
 }