/* Show it's not fixed to the top */
body {
    min-height: 55rem;
}

.mb-4, .my-4{
    margin-bottom: 3.0rem!important;
}
.bg-dark{
    height : 50px;
}
.navbar{
    position: sticky !important;
    z-index: 1023;
    top: 0;
}
.navbar-brand{
    font-size : 1.5rem;
}

.navbar-expand-md .navbar-nav{
    font-size: 1.2rem;
    position: sticky;
}

.notification {
    background: transparent;
    border: 0;
    position: relative;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
}

.notification:hover {
    background: #ffc107;
}

.notification .badge {
    position: absolute;
    top: 17px;
    right: -5px;
    padding: 5px 8px;
    border-radius: 50%;
    background-color: red;
    color: white;
}

.popup_bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 1500%;
}
.popup {
    display: none;
    position: absolute;
    left: 71%;
    top: 100%;
    z-index: 1000;
    width: 426px;
    height: 500px;
    overflow: auto;
    box-shadow: 0 4px 8px -2px rgb(9 30 66 / 25%), 0 0 1px rgb(9 30 66 / 31%);
    background: #fff;
    border: 0 solid #dfe1e6;
    border-radius: 3px;
}
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
}