/* Show it's not fixed to the top */
body {
    min-height: 50rem;
}

.mb-4, .my-4{
    margin-bottom: 3.0rem!important;
}
.bg-dark{
    height : 50px;
}
.navbar{
    position: sticky;
    z-index: 1023;
    top: 0;
}
.navbar-brand{
    font-size : 1.5rem;
}
/*.btn-secondary{
    font-size: 1.4rem;
}*/

.navbar-expand-md .navbar-nav{
    font-size: 1.2rem;
    position: sticky;
}
