.flexParent{
    display: flex;
}
.inline-flex{
    display: inline-flex;
    margin-top: 1.5%;
    margin-left: 1%;
}

#listRating{
    margin-left:auto;
}

#listHit{
    margin-left:auto;
}

#td-title{
    text-align: left;
}
td[data-column-name=title]{
    cursor: pointer;
}

.main-wrapper{
    padding-left: 9%;
    padding-top: 3%;
}
#recruitGrid{
    width: 88%;
}
