#sidebar-wrapper {
    position: absolute;
    width: 250px;
    height: 100%;
    background: #EEEEEE;
    overflow-x: hidden;
    overflow-y: auto;
}
.sidebar-nav {
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li {
    text-indent: 1.5em;
    line-height: 2.8em;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #343A40;
}
.sidebar-nav li a:hover {
    color: #090708;
    background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav > .sidebar-brand {
    font-size: 1.3em;
    line-height: 3em;
}

