<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>로그인</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/signin.css}" rel="stylesheet">

</head>


<body class="text-center">

    <form class="form-signin" th:action="@{/account/login}" method="post">
        <a th:href="@{/}">로고</a>
        <h1 class="h3 mb-3 fw-normal">로그인</h1>

        <!--로그인에러-->
        <div th:if="${param.error}" th:text="${loginFailMsg}" class="alert alert-danger" role="alert"></div>
        <!--로그아웃-->
        <div th:if="${param.logout}" class="alert alert-primary" role="alert">
            로그아웃 되었습니다.
        </div>

        <div class="mb-3">
            <label for="username"></label>
            <input type="eamil" class="form-control" id="username"  name="username" placeholder="Email">
        </div>

        <div class="mb-3">
            <label for="password"></label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>

        <div class="mb-3">
            <button class="w-100 btn btn-lg btn-primary " type="submit">로그인</button>
        </div>

        <div class="mb-3">
            <p>아직 회원이 아니신가요?</p>
            <a type="button" class="w-100 btn btn-lg btn-outline-primary" th:href="@{/account/register}">회원가입</a>
        </div>
    </form>

</body>
</html>