<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('내 정보 수정')"></head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link th:href="@{/css/myInfo.css}" rel="stylesheet">
<link th:href="@{/css/birth.css}" rel="stylesheet">

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" th:replace="fragments/common :: menu('board')"></nav>
<div th:include="fragments/mypagesidebar"> </div>
    <form class="form-signin" th:action="@{/account/myinfo}" method="post" th:object="${member}">

        <h1 class="h3 mb-3 fw-normal">내 정보 수정</h1>
        <hr>

        <input type="hidden" class="form-control" th:field="*{id}" th:readonly="readonly" >
        <input type="hidden" class="form-control" th:field="*{role}" th:readonly="readonly" >

        <div class="mb-3">
            <label th:for="username">이메일</label>
            <input type="email" class="form-control" th:field="*{username}" th:readonly="readonly" >
        </div>

        <div class="mb-3">
            <label th:for="nickname">닉네임</label>
            <input type="text" class="form-control" th:field="*{nickname}" oninput="nicknameModify()">
            <span class="nickname_ok">사용 가능한 이름입니다.</span>
            <span class="nickname_already">누군가 이 이름을 사용하고 있어요.</span>
        </div>

        <label class="mb-3 form-label" for="birth">생년월일</label>
        <div class="mb-3" id="birth" onchange="checkAgeModify()">
            <div class="birth dropdown">
                <select  class="form-control" id="year" name="year">
                    <option th:value="*{year}" th:text="*{year}" selected></option>
                    <option value="">년(YY)</option>
                    <th:block th:each="a: ${#numbers.sequence(2001,1900)}">
                        <option th:value="${a}" th:text="${a}"></option>
                    </th:block>
                </select>
            </div>

            <div class="birth mx-1 dropdown">
                <select  class="form-control" id="month" name="month">
                    <option th:value="*{month}" th:text="*{month}" selected></option>
                    <option value="">월(mm)</option>
                    <th:block th:each="month: ${#numbers.listFormatInteger(#numbers.sequence(1,12),2)}">
                        <option class="dropdown-item" th:value="${month}" th:text="${month}"></option>
                    </th:block>
                </select>
            </div>

            <div class="birth dropdown">
                <select  class="form-control" id="day" name="day">
                    <option th:value="*{day}" th:text="*{day}" selected></option>
                    <option value="">일(dd)</option>
                    <th:block th:each="day: ${#numbers.listFormatInteger(#numbers.sequence(1,31),2)}">
                        <option class="dropdown-item" th:value="${day}" th:text="${day}"></option>
                    </th:block>
                </select>
            </div>
            <span id="birth_check_msg"></span>
        </div>

        <div class="mb-3">
            <label for="age">나이</label>
            <input type="text" class="form-control" id="age" th:readonly="readonly" >
        </div>

        <div class="mb-3">
            <label th:for="gender">성별</label>
            <input type="text" class="form-control" id="gender" name="gender" th:value="*{gender.value}" hidden >
            <input type="text" class="form-control"  th:value="*{gender.title}" readonly>
        </div>

        <div class="mb-3">
            <button class="w-100 btn btn-lg btn-primary" type="submit" onclick="return modifyCheckAll()">수정</button>
        </div>

        <div class="mb-3">
            <a type="button" style="color:white" class="w-100 btn btn-lg btn-secondary" onclick="window.history.back();">취소</a>
        </div>

    </form>
<footer th:replace="fragments/common :: footer"></footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/modify.js}"></script>
<script type="text/javascript" th:src="@{/js/calAge.js}"></script>

</body>
</html>