<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('패스워드 변경')"></head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link th:href="@{/css/passwordChange.css}" rel="stylesheet">

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" th:replace="fragments/common :: menu('board')"></nav>
<div th:include="fragments/mypagesidebar"> </div>
<form class="form-signin" th:action="@{/account/password}" method="post">
    <h1 class="h3 mb-3 fw-normal">패스워드 변경</h1>
    <hr>
    <div class="form-floating mb-3">
        <label th:for="password">기존 패스워드</label>
        <input type="password" class="form-control pw" id="original_Pw" name="original_Pw" placeholder="비밀번호를 입력해 주세요">
    </div>

    <div class="form-floating mb-3">
        <label th:for="password">새 패스워드</label>
        <input type="password" class="form-control pw" id="password" name="password" placeholder="비밀번호를 입력해 주세요">
    </div>

    <div class="form-floating mb-3 ">
        <label for="password_check">패스워드 확인</label>
        <input type="password" class="form-control" id="password_check" name="password_check" placeholder="비밀번호를 입력해 주세요">
        <span id="pw_check_msg"></span>
    </div>

    <div class="form-floating mb-3">
        <button class="w-100 btn btn-lg btn-primary" id="submit_button" type="submit">수정</button>
    </div>

    <div class="form-floating mb-3">
        <button class="w-100 btn btn-lg btn-secondary" type="button" onclick="window.history.back();">취소</button>
    </div>
</form>
<footer th:replace="fragments/common :: footer"></footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/pwChange.js}"></script>
<script type="text/javascript" th:src="@{/js/nav_top.js}"></script>
</body>
</html>